{% extends "Store/layout.html" %}

{% block body %}
<h2 style="text-align: center;">Добавить Аффтара</h2>
<div style="text-align: center; margin:0 auto;">
<form action="{% url 'newAuthor' %}" method='POST' style="display: inline-block;">
    {% csrf_token %}
    
    <!--<ul style="list-style-type: none;">-->
        {% for i, j in form%}
        <!--<li> {{ i.label_tag }} {{ i }}</li>-->

        {{ j }}:
            <div class="input-group mb-3">
                
                    {{ i }}
             </div>

    {% endfor %}

    <!--</ul>-->
    <input class = "f-c form-control" type="submit" value='Добавить'>
    
</form>
</div>
{% endblock %}